html {
  font-size: 14px;
  line-height: 1.5; /* Высота строки для всех браузеров */

}
.wrapper {
    width: 340px;


.header_top {
    display: flex;
    align-items: center;
    justify-content: center;
}