:root {
  --silant_black: #163E6C;
  --silant_red: #D20A11;
  --silant_beige: #EBE6D6;
}

@font-face {
    font-family: 'PT-Astra-Sans_Regular';
    src: local('PT-Astra-Sans_Regular'), url('/static/fonts/PT Astra Sans/PT-Astra-Sans_Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'PT-Astra-Sans_Bold';
    src: local('PT-Astra-Sans_Bold'), url('/static/fonts/PT Astra Sans/PT-Astra-Sans_Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'PT-Astra-Sans_Bold-italic';
    src: local('PT-Astra-Sans_Bold-italic'), url('/static/fonts/PT Astra Sans/PT-Astra-Sans_Bold-italic.ttf') format('truetype');
}
@font-face {
    font-family: 'PT-Astra-Sans_Italic';
    src: local('PT-Astra-Sans_Italic'), url('/static/fonts/PT Astra Sans/PT-Astra-Sans_Italic.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

html {
  font-family: "PT-Astra-Sans_Regular";
  font-size: 18px;
  /* Нормализатор */
  line-height: 1.5; /* Высота строки для всех браузеров */
  -webkit-text-size-adjust: 100%; /* фикс размера шрифта в iOS при повороте экрана */
  -ms-text-size-adjust: 100%; /* фикс размера шрифта в ms при повороте экрана */
  -moz-text-size-adjust: 100%; /* фикс размера шрифта в mozilla при повороте экрана */
  -ms-overflow-style: scrollbar; /* стандартные полосы прокрутки */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  /* убираем цвет подсветки ссылки при касании */
}

body {
    height: 100%;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--silant_black);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding: 40px 20px 30px;
}

a {

  text-decoration: none !important;
  }


select {
   color: var(--silant_black);
   border: 1px solid #ced4da;
   border-radius: 0.25rem;
   width: 348px;
}

table {
    width: 100%;
    font-size: 0.9em;
    color: var(--silant_black);
}
table a {
   text-decoration: none;
   color: var(--silant_black);
}
table a:hover {
   color: blue;
}
.tds {
  padding: 0px 0px;
}
th,
td {
  padding: 5px 10px;
  border-top-width: 0;
  border-left-width: 0;
}
.table_tr:hover {
   background: var(--silant_beige);
   color: blue;
   /*font-weight: bold;*/
}


.wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 640px;
    min-height: 100%;
    margin: 0 auto;
    border: 1px solid black;

}
header {
    height: 100px;
    padding: 10px;
    margin: 0 0 30px 0;
    color: var(--silant_black);
}
main {
    flex: 1 0 auto;
/*    background: #EEE9E9;*/
/*    border: 1px solid black;*/
    border-radius: 20px;
    padding: 10px;
    color: var(--silant_black);
}

footer {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    height: 40px;
    background: var(--silant_beige);
    color: var(--silant_black);
}

.center {
    display: -webkit-flex;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    text-align: center;
    color: var(--silant_black);
}
.left-right {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: var(--silant_black);
    padding: 10px 0;
}
.logo {
    width: 200px;
}
.logo img {
    width: 100%;
    height: auto;
}
.header_top {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    margin: auto 10px;
}





.div_full_horizontal_content_space_around {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    margin: auto 10px;
}