{% extends 'default.html' %}
{% load auth_extras %}

{% block content %}

    <div class="div_full_horizontal_content_space_around">
        <a class="button_menu " href="{% url 'info' %}" role="button">Машины</a>
        <a class="button_menu" href="{% url 'maintenance' %}" role="button">ТО</a>
        <a class="button_menu active" href="{% url 'complaints' %}" role="button">Рекламации</a>
    </div>

    <h4 class="center">Информация о рекламациях вашей техники:</h4>
    <div class="center">
        {% if request.user|has_group:"service" or request.user|has_group:"manager" or request.user|has_group:"admin" %}
            <a class="button slim" href="{% url 'create_complaints' %}" role="button">Добавить запись</a>
        {% endif %}
        {% if request.user|has_group:"manager" or request.user|has_group:"admin" %}
            <a class="button slim" href="{% url 'reference_book' %}" role="button">Редактор справочников</a>
        {% endif %}
    </div>

    {% if complaints %}
        <table>
        <tr>
            <th><a href="?order_by=factory_number">№</a></th>
            <th><a href="?order_by=service_company">Сервисная орг.</a>
            </th><th><a href="?order_by=date_of_refusal">Дата отказа</a></th>
            <th><a href="?order_by=operating_time">Нар.</a></th>
            <th><a href="?order_by=failure_node">Узел отказа</a></th>
            <th><a href="?order_by=description_failure">Характер отказа</a>
            </th><th><a href="?order_by=recovery_method">Способ восстановления</a></th>
        </tr>
        {% for complaint in complaints %}
            <tr class="table_tr">
                <td><a href="/complaints/{{ complaint.id }}">{{ complaint.car }}</a></td>
                <td><a href="/complaints/{{ complaint.id }}">{{ complaint.service_company }}</a></td>
                <td><a href="/complaints/{{ complaint.id }}">{{ complaint.date_of_refusal|date:"d.m.Y" }}</a></td>
                <td><a href="/complaints/{{ complaint.id }}">{{ complaint.operating_time }}</a></td>
                <td><a href="/complaints/{{ complaint.id }}">{{ complaint.failure_node }}</a></td>
                <td><a href="/complaints/{{ complaint.id }}">{{ complaint.description_failure }}</a></td>
                <td><a href="/complaints/{{ complaint.id }}">{{ complaint.recovery_method }}</a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h4 class="center">Еще нет записей о рекламациях ваших машин.</h4>
    <div class="center">
        {% if request.user|has_group:"service" or request.user|has_group:"manager" or request.user|has_group:"admin" %}
            <a class="button slim" href="{% url 'create_complaints' %}" role="button">Добавить первую запись о рекламации</a>
        {% endif %}
        {% if request.user|has_group:"manager" or request.user|has_group:"admin" %}
            <a class="button slim" href="{% url 'reference_book' %}" role="button">Редактор справочников</a>
        {% endif %}
    </div>

    {% endif %}
{% endblock content %}
