{% extends 'default.html' %}
{% load bootstrap5 %}
{% load auth_extras %}



{% block content %}
<!--    <h6 class="center">Выберите машину, для которой необходимо создать запись о ТО</h6>-->
    <div class="left-right">
        <p>Выберите машину</p>
        <select  onchange="window.location.href = this.options[this.selectedIndex].value">
            <option value="{{select_car.id}}">{{ select_car }} {{ select_car.technique_model }} {{ select_car.engine_model }}</option>
            {% for car in cars %}
                {% if car.id != select_car.id %}
                    <option value="?id={{car.id}}">{{ car.factory_number }} {{ car.technique_model }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
<!--    {{ select_car.service_company }}-->
<!--    {% if select_car.service_company == None %}-->
<!--        <h6 class="center">Для обслуживания данной машины пока не назначена сервисная компания</h6>-->
<!--        <p>Постановку машины на обслуживание в сервисную компанию может сделать менеджер параметрах машины</p>-->
<!--    {% else %}-->
<!--        <h6 class="center">Данная машина находится на обслуживании сервисной компании {{ select_car.service_company }}</h6>-->
<!--        <p>Если требуется изменить сервисную компанию, обратитесь к администратору</p>-->
<!--    {% endif %}-->

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <div class="center">
            {% buttons %}
            <a class="btn btn-outline-secondary" href="{% url 'maintenance' %}" role="button">отмена</a>
            <button type="submit" class="btn btn-outline-secondary">сохранить</button>
            {% endbuttons %}
        </div>

    </form>

{% endblock content %}