{% extends 'default.html' %}
{% load bootstrap5 %}
{% load auth_extras %}



{% block content %}

<select  onchange="window.location.href = this.options[this.selectedIndex].value">
    <option value="{{select_car.id}}">{{ select_car }}{{ select_car.factory_number }} {{ select_car.technique_model }} {{ select_car.engine_model }} {{ select_car.service_company }}</option>
    {% for car in cars %}
        {% if car.id != select_car.id %}
            <option value="?id={{car.id}}">{{ car.factory_number }} {{ car.technique_model }}</option>
        {% endif %}
    {% endfor %}
</select>






    <h6 class="center">Выберите машину, для которой необходимо создать запись о ТО</h6>
    <form method="post">
        {% csrf_token %}
        <div>
            {% bootstrap_form form layout='horizontal' %}

            {% buttons %}
            <button type="submit" class="btn btn-outline-secondary">выбрать</button>
            {% endbuttons %}
        </div>
    </form>

{% endblock content %}