{% extends 'default.html' %}
{% load auth_extras %}

{% block content %}

{% include "fragments/username_group.html" %}<br>
<div class="div_full_horizontal_content_space_around">
    <a class="btn btn-outline-dark" href="{% url 'info' %}" role="button">Общая инфо</a>
    <a class="btn btn-outline-dark" href="{% url 'maintenance' %}" role="button">ТО</a>
    <a class="btn btn-outline-dark" href="{% url 'complaints' %}" role="button">Рекламации</a>
</div>



    {% if maintenances %}
        <h6 class="center">Информация о проведенных ТО Вашей техники</h6>


        <div>
            <a href="{% url 'select_car_maintenance' %}" role="button">Добавить запись о ТО</a>
        </div>



            <table class="table_info">
            <tr>
                <th><a href="?order_by=factory_number">Номер:</a></th>
                <th><a href="?order_by=technique_model">Модель техники:</a>
                </th><th><a href="?order_by=engine_model">Модель двигателя:</a></th>
                <th><a href="?order_by=transmission_model">модель трансмиссии:</a></th>
                <th><a href="?order_by=drive_axle_model">модель ведущего моста:</a></th>
                <th><a href="?order_by=steerable_axle_model">модель управляемого моста:</a>
                </th><th><a href="?order_by=date_of_shipment_from_the_factory">дата отгрузки с завода:</a></th></tr>
        {% for maintenance in maintenances %}
            <tr class="table_row">
                <td><a href="/info/{{ car.id }}">{{ car.factory_number }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.technique_model }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.engine_model }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.transmission_model }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.drive_axle_model }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.steerable_axle_model }}</a></td>
                <td><a href="/info/{{ car.id }}">{{ car.date_of_shipment_from_the_factory|date:"d.m.Y" }}</a></td></tr>


        {% endfor %}
            </table>
    {% else %}
        <h6 class="center">Еще нет записей о ТО ваших машин.</h6>



        <div class="center">
            <a class="btn btn-outline-dark" href="{% url 'select_car_maintenance' %}" role="button">Добавить запись о ТО</a>
        </div>

    {% endif %}




{% endblock content %}