{% extends 'default.html' %}
{% load auth_extras %}

{% block content %}

    <div class="div_full_horizontal_content_space_around">
        <a class="button_menu " href="{% url 'info' %}" role="button">Машины</a>
        <a class="button_menu active" href="{% url 'maintenance' %}" role="button">ТО</a>
        <a class="button_menu" href="{% url 'complaints' %}" role="button">Рекламации</a>
    </div>

    <h4 class="center">Информация о проведенных ТО вашей техники</h4>
    <div class="center">
        <a class="button slim" href="{% url 'create_maintenance' %}" role="button">Добавить запись</a>
        {% if request.user|has_group:"manager" or request.user|has_group:"admin" %}
            <a class="button slim" href="{% url 'reference_book' %}" role="button">Редактор справочников</a>
        {% endif %}
    </div>

    {% if maintenances %}
        <table>
        <tr>
            <th><a href="?order_by=factory_number">№</a></th>
            <th><a href="?order_by=technique_model">Сервисная орг.</a>
            </th><th><a href="?order_by=engine_model">Вид_ТО</a></th>
            <th><a href="?order_by=transmission_model">Дата ТО</a></th>
            <th><a href="?order_by=drive_axle_model">Нар.</a></th>
            <th><a href="?order_by=steerable_axle_model">Номер заказа-наряда</a>
            </th><th><a href="?order_by=date_of_shipment_from_the_factory">Дата заказа-наряда</a></th>
        </tr>
        {% for maintenance in maintenances %}
            <tr class="table_tr">
                <td><a href="/maintenance/{{ maintenance.id }}">{{ maintenance.car }}</a></td>
                <td><a href="/maintenance/{{ maintenance.id }}">{{ maintenance.service_company }}</a></td>
                <td><a href="/maintenance/{{ maintenance.id }}">{{ maintenance.type_maintenance }}</a></td>
                <td><a href="/maintenance/{{ maintenance.id }}">{{ maintenance.maintenance_date|date:"d.m.Y" }}</a></td>
                <td><a href="/maintenance/{{ maintenance.id }}">{{ maintenance.operating_time }}</a></td>
                <td><a href="/maintenance/{{ maintenance.id }}">{{ maintenance.order }}</a></td>
                <td><a href="/maintenance/{{ maintenance.id }}">{{ maintenance.order_date|date:"d.m.Y" }}</a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h4 class="center">Еще нет записей о ТО ваших машин.</h4>
    <div class="center">
        <a class="button slim" href="{% url 'create_maintenance' %}" role="button">Добавить первую запись о ТО</a>
        {% if request.user|has_group:"manager" or request.user|has_group:"admin" %}
            <a class="button slim" href="{% url 'reference_book' %}" role="button">Редактор справочников</a>
        {% endif %}
    </div>
    {% endif %}
{% endblock content %}