{% extends 'default.html' %}
{% load bootstrap5 %}
{% load auth_extras %}


{% block content %}


{% if cars %}
        <div class="center">
            <h5>Выберите машину, на которую нужно создать запись о ТО</h5>
        </div>

        <table class="table_info">
        <tr>
            <th><a href="?order_by=factory_number">Номер:</a></th>
            <th><a href="?order_by=technique_model">Модель техники:</a></th>
            <th><a href="?order_by=date_of_shipment_from_the_factory">дата отгрузки с завода:</a></th>
            <th><a href="?order_by=client">Клиент:</a></th>
            <th><a href="?order_by=service_company">Сервисная компания:</a></th>
        </tr>
    {% for car in cars %}
        <tr class="table_row">
            <td><a href="/create_maintenance/{{ car.id }}">{{ car.factory_number }}</a></td>
            <td><a href="/create_maintenance/{{ car.id }}">{{ car.technique_model }}</a></td>
            <td><a href="/create_maintenance/{{ car.id }}">{{ car.date_of_shipment_from_the_factory|date:"d.m.Y" }}</a></td>
            <td><a href="/create_maintenance/{{ car.id }}">{{ car.client }}</a></td>
            <td><a href="/create_maintenance/{{ car.id }}">{{ car.service_company }}</a></td>
        </tr>
    {% endfor %}
        </table>
{% else %}
    <h6 class="center">У вас пока нет машин</h6>
{% endif %}

{% endblock content %}
